@media screen and (min-width: 640px) and (max-width: 1280px) {
    
    .item {
        margin: 20px 6vw;
    }

    .item img {
        width: 25vw;
        border-radius: 10px;
    }
    
    
    .item p:nth-child(2) {
        width: 25vw;
    }

    /*    CONTACTO    */
    .grid {
      height: 100%;
      margin-bottom: 50px;
    }

    .imagen img {
      width: 100%;
    }

    .iframe iframe {
      width: 90%;
      height: 30vw;
    }
    
    .texto h3 {
      font-size: 23px;   
  }
    
    .texto p {
        font-size: 17px;
    }
}


@media screen and (max-width: 640px) {
    .navbar {
        position: relative;
    }

    .navbar input[type="checkbox"], .navbar i {
        display: block;
        grid-column: 8/9;
        font-size: 38px;
    }

    .navbar .menu {
        position: absolute;
        width: 40%;
        height: 250px;
        display: grid;
        align-items: center;
        background-color: #000;
        margin-top: 290px;
        transform: translateX(250%);

    }

    .navbar input[type="checkbox"], .navbar i {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 10px;
        width: 38px;
        height: 38px;
    }
  
  .navbar i {
    font-size: 38px;
    pointer-events: none;
  }
  
  .navbar input[type="checkbox"] {
    opacity: 0;
  }
  
  .navbar {
    color: white;
    position: relative;
    min-height: 38px;
  }
  
  .navbar input:checked ~ .menu {
    animation-name: desplegar;
    animation-duration: 0.6s;
    transform: translateX(150%);
  }

  .navbar input:not(:checked)~ .menu {
    animation-name: plegar;
    animation-duration: 0.6s;
    transform: translateX(250%);
  }
  
  .navbar input:checked ~ .fa-bars {
    display: none;
  }
  
  .navbar input:not(:checked) ~ .fa-times {
    display: none;
  }

  @keyframes desplegar {
    from {
        transform: translateX(250%); 
    }
    to { 
        transform: translateX(150%);
    }
  }

  @keyframes plegar {
      from {
          transform: translateX(150%); 
      }
      to { 
          transform: translateX(250%);
      }
  }

/*   SECTION   */
.content .info-content {
    margin-left: 20px;
    grid-row: 3/6;
    color: #fff;
}

.content h1 {
    font-size: 3em;
}

/*    MAIN   */
.movies {
    flex-direction: column;
    align-items: center;
  }

/*    CONTACTO    */
.grid {
  height: 100%;
  margin-bottom: 50px;
}

.imagen img {
  width: 100%;
}

.iframe iframe {
  width: 90%;
  height: 30vw;
}

.texto h3 {
  font-size: 21px;   
}

.texto p {
    font-size: 15px;
}
}
