@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .logo {
    height: 60px;
    grid-column: 1/2;
    margin-left: 15px;
}

.navbar .menu {
    display: flex;
    justify-content: space-around;
    grid-column: 2/9;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar .menu li {
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    color: red;
}

.navbar input[type="checkbox"], .navbar i {
    color: #fff;
    display: none;
}

/*    SECTION    */

.content {
    height: 80vh;
    background-image: linear-gradient(rgba(16,16,16,.5), rgba(16,16,16,.8)), url(../imagenes/background.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-column: repeat(10, 1fr);
    grid-row: repeat(8, 1fr);
}

.content .info-content {
    grid-column: 2/5;
    grid-row: 2/4;
    color: #fff;
}

.content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
}
.content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.content .btn {
    font-size: 1em;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #e50914;
    border-radius: 15px;
    margin-top: 10px;
}

.content .btn:hover {
    background: #e50914;
}

/*    MAIN    */

.main > p {
    font-size: 26px;
    margin: 0 0 30px 0;
    text-align: center;
}

.main {
    padding: 30px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item img {
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.item img:hover {
    filter: drop-shadow(5px 5px 5px rgb(172, 171, 171));
}

.item p:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
    max-width: 250px;
    text-align: left;
    font-weight: 600;
}

.item p:nth-child(3) {
    margin-top: 5px;
    color: rgb(153, 152, 152);
    font-size: 20px;
    font-weight: 300;
}

/*    FOOTER    */

footer {
    height: 90px;
    background-color: #000;
    color: #fff; 
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.redes {
    display: flex;
    justify-content: center;
    grid-row: 2/3;
}

.redes i:hover {
    color: red;
}

.redes h2 {
    font-size: 18px;
    margin-right: 35px;
}

.redes i {
    color: #fff;
    margin-right: 20px;
}

footer p {
    font-size: 12px;
    text-align: center;
    grid-row: 4/5;
}

/*    SIGNUP    */
.signup {
    background-color: #f2f2f2;
    padding: 100px 0;
}
.signup div {
    padding: 20px 20px 30px;
  }
.container {
    width: 373px;
    height: 500px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 0px auto;
    background-color: #ffffff;
}

legend {
    text-align: center;
    margin-bottom: 40px;
}

.signup input {
    display: flex;
    flex-direction: column;
}

.signup input[type=text], .signup input[type=password], .signup input[type=email] {
    width: 290px;
    padding: 12px 20px;
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
  
  .signup input[type=submit] {
    width: 290px;
    background-color: #e50914;
    color: white;
    padding: 14px 110px;
    margin: 50px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup input[type=submit]:hover {
    background-color: #df5158;
  }

  .signup input[type=text]:focus, .signup input[type=password]:focus, .signup input[type=email]:focus  {
    border: 1px solid #4194d8;
  }

  .errorInput {
      color: red;
      font-size: 10px;
  }

 .signup input[class=error] {
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid red;
  }


  /*    CONTACTO    */
  
  .contacto > p {
    grid-column: 1/13;
    text-align: center;
    font-size: 26px;
    margin: 20px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    width: 90%;
    height: 500px;
    margin: auto;
    gap: 10px;
    overflow: hidden;
  }

  .contacto-redes .imagen, .contacto-direccion .iframe {
    width: 100%;
    height: auto;
    grid-column: 7/13;
  }

  .contacto-redes .texto, .contacto-direccion .texto {
    grid-column: 2/6;
  }

  .contacto-correo .imagen {
    width: 100%;
    height: auto;
    grid-column: 2/7;
  }

  .contacto-correo .texto {
    grid-column: 9/12;
  }
  
  .imagen img {
      width: 500px;
  }

  .texto h3 {
    font-size: 26px;   
}
  
  .texto p {
      font-size: 20px;
  }

  /*    LOGIN    */
  .login {
    background-color: #f2f2f2;
    padding: 100px 0;
}
.login div .col-md-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

.login img {
  height: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 150px;
}

.login button[type=submit] {
    margin-top: 40px;
    margin-left: 30px;
    background-color: #e50914;
    border: none;
}

.btn {
    padding: 0 30px;
    margin-bottom: 50px;
}

.form-control, .btn {
    font-weight: 400;
    font-size: 12px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 0 30px;
    color: #b9b9b9;
}

.login-content p {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    color: #757575;
}

.login-content a {
    text-decoration: none;
}

.login button[type=submit]:hover {
    background-color: #df5158;
  }

